.head {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    left: 300px;
    top: 200px;
}
span {
    color: grey;
    font-weight: 100;
}
.flex-container {
    background-color: white;
    position: absolute;
    left: 300px;
    top: 300px;
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.flex {
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(170 148 148);
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 5px;
    color: red;
    margin: 10px;
}
.flex {
    
    width: 250px;
    height: 190px;
    margin: 20px;
    text-align: left;
}
.material-icons {
    color: red;
    position: absolute;
    left: 900px;
    top: 215px;
}
p {
    color: red;
    font-family:sans-serif;
}
strike {
    color: red;
    text-decoration: line-through;
}
.clr {
    color: black;
}
.all {
    position: absolute;
    left: 930px;
    top: 216px;
}
@media (max-width:1000px) {
    .flex-container{
        flex-direction: column;
        align-content: space-between;
        color: grey;
    }
    .flex{
        border-color: white;
        width: 250px;
        height: 150px;
        margin: 20px;
        text-align: left;
    }
    .material-icons{
        color: red;
        position: absolute;
        left: 520px;
        top: 215px;
    }
    .all {
        display: none;
    }
    p{
        color: grey;
    }
    strike{
        display: none;
    }
    input{
        display: none;
    }
    .clr{
        display: none;
    }


}

